<div class="px-5 py-5 flex justify-between items-center bg-white border-b-2">
  <div class="font-semibold text-2xl">Chat</div>

  <%= turbo_stream_from "rooms" do %>
    <span><%= @room.name %></span>
  <% end %>

  <% if current_user %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
  <% end %>
</div>