<%= turbo_stream_from "messages" %>

<div class="flex flex-col mt-5 overflow-y-auto">
  <% @messages.each do |message| %>
    <%= turbo_frame_tag dom_id(message) do %>
      <!-- justify-end / justify-start -->
      <div class="flex justify-end mb-4 relative">
        <div class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white">
          <%= message.body %>
        </div>
        <span class="text-xs text-white absolute bottom-0 right-2"><%= message.created_at.strftime('%H:%M:%S') %></span>
      </div>
    <% end %>
  <% end %>
</div>