<div class="flex flex-row py-4 px-2 justify-center items-center border-b-2 hover:bg-blue-400 active:bg-blue-500 focus:outline-none"
     id=<%= room.id %>>
  <div class="w-full">
    <div class="text-lg font-semibold"><%= room.name %></div>
    <span class="text-gray-500">Pick me at 9:00 Am</span>
  </div>
</div>